@(kpi: KPI, kpiForm: Form[String])

@import helper._

@main(Html("KPI Detail")) {

  <h2>@kpi.name</h2>

  <script>
    $(document).ready(function() {
      var dataArray = new Array();
      @for(v <- kpi.values) {
      dataArray.push(new Array(@v.timestamp.getMillis, @v.value));
      }

      var targetArray = new Array();
      @for(v <- kpi.values) {
      targetArray.push(new Array(@v.timestamp.getMillis, @kpi.target));
      }

      var chart = new Highcharts.Chart({
        chart: {
          renderTo: 'chart-container',
          type: 'line'
        },
        title: {
          text: 'History'
        },
        xAxis: {
          type: 'datetime',
          labels: {
            formatter: function() {
              return Highcharts.dateFormat('%b-%y', this.value);
            }
          }
        },
        yAxis: {
          title: {
            text: '@kpi.unit'
          }
        },
        series: [{
          name: 'Values',
          data: dataArray
          },{
          name: 'Target',
          data: targetArray,
          color: '#FF0000'
        }]
      });
    });
  </script>

  <div class="container">
    <table class="table table-striped table-hover">
      <tr>
        <td>@kpi.id</td>
        <td><img src="@routes.Assets.at("images/blue.png")"></td>
        <td>@kpi.name</td>
      </tr>
      <tr>
        <td>@kpi.owner</td>
        <td>@kpi.target</td>
        <td>@kpi.deadline</td>
      </tr>
    </table>
    <hr>
    <div id="chart-container" style="width:100%; height:400px;"></div>
    <hr>
    <table class="table table-striped table-hover">
      <tr>
        <th>TimeStamp</th>
        <th>Values</th>
      </tr>
      @kpi.values.map { v =>
      <tr>
        <td>@v.timestamp</td>
        <td>@v.value</td>
      </tr>
      }
    </table>
    <hr>
  </div>
}
