@(kpi: KPI, kpiForm: Form[String])

@import helper._

@main(Html("KPI Detail")) {

  <h2>@kpi.name</h2>

  <div class="container">
    <table class="table table-striped table-hover">
      <tr>
        <td>@kpi.id</td>
        <td><img src="@routes.Assets.at("images/blue.png")"></td>
        <td>@kpi.name</td>
      </tr>
      <tr>
        <td>@kpi.owner</td>
        <td>@kpi.target</td>
        <td>@kpi.deadline</td>
      </tr>
    </table>

    <hr>
    <canvas id="myChart" width="1000" height="400"></canvas>
    <hr>

    <script>
      // get the data
      var labelArray = [@Html(kpi.values.map(_.timestamp.toString("''MMM-yy''")).mkString(","))];
      var dataArray = [@kpi.values.map(_.value).mkString(",")];
      var targetArray = [@kpi.values.map(v => kpi.target).mkString(",")];
      var options = {
        datasetFill: true
      }

      var data = {
        labels: labelArray,
        datasets: [{
          fillColor : "rgba(0,0,0,0.0)",
          strokeColor : "rgba(255,0,0,1)",
          data: targetArray
          },{
          fillColor : "rgba(220,220,220,0.5)",
          strokeColor : "rgba(220,220,220,1)",
          data: dataArray
        }]
      }

      // Get the context of the canvas element we want to select
      var ctx = document.getElementById("myChart").getContext("2d");
      var myNewChart = new Chart(ctx).Line(data, options);
    </script>

    <table class="table table-striped table-hover">
      <tr>
        <th>TimeStamp</th>
        <th>Values</th>
      </tr>
      @kpi.values.map { v =>
      <tr>
        <td>@v.timestamp</td>
        <td>@v.value</td>
      </tr>
      }
    </table>
    <hr>
  </div>
}
