@(kpis : Array[KPI])

@import helper._

@main("KPIs") {
    <h1>KPIs</h1>
    
    <ul>
        @for(kpi <- kpis) {                  
            <li>
                <b>Name:</b> @kpi.name 
            </li>
            <li>
                <b>Description:</b> @kpi.description 
            </li>
            <li>
                <b>Owner:</b> @kpi.owner 
            </li>
            <li>
                <b>Target:</b> @kpi.target 
            </li>
            <li>
                <b>Deadline:</b> @kpi.deadline 
            </li>
        }
    </ul>
}
