@(kpis: List[KPIHeader], kpiForm: Form[String])

@import helper._

@main("KPI list") {
  <h1>KPI Server (@kpis.size KPI(s))</h1>
  <table border="1">
    <tr>
      <th>Id</th>
      <th>Health</th>
      <th>Name</th>
      <th>Owner</th>
      <th>Target</th>
      <th>Current</th>
      <th>Last</th>
      <th>Deadline</th>
    </tr>
    @kpis.map { kpi =>
      <tr>
        <td>@kpi.id</td>
        <td>Unknown</td>
        <td><a href="/kpi/@kpi.id">@kpi.name</a></td>
        <td>@kpi.owner</td>
        <td>@kpi.target</td>
        <td>@kpi.historicalValues(0).value</td>
        <td>@kpi.deadline</td>
      </tr>
    }
    </table>
}
