@(kpis: List[KPIHeader], kpiForm: Form[String])

@import helper._

@main(Html("KPI List")) {
  
  <h2>KPI Server - @kpis.size KPI(s)</h2>

  <div class="container">
    <table class="table table-striped table-hover">
      <tr>
        <th>Id</th>
        <th>Health</th>
        <th>Name</th>
        <th>Owner</th>
        <th>Description</th>
        <th>Target</th>
        <th>Current</th>
        <th>Last</th>
        <th>Deadline</th>
      </tr>
      @kpis.map { kpi =>
        <tr>
          <td>@kpi.id</td>
          <td>Unknown</td>
          <td><a href="/kpi/@kpi.id">@kpi.name</a></td>
          <td>@kpi.owner</td>
          <td>@kpi.description</td>
          <td>@kpi.target</td>
          @for(historicalValue <- kpi.historicalValues) {
            <td>@historicalValue.value</td>
          }
          <td>@kpi.date.toString("dd-MM-yyyy")</td>
        </tr>
      }
    </table>
  </div>
}
