@(kpis: List[KPI], kpiForm: Form[String])

@import helper._

@main(Html("KPI List")) {

  <h2>KPI Server - @kpis.size KPI(s)</h2>

  <div class="container">
    <table class="table table-striped table-hover">
      <tr>
        <th>Id</th>
        <th>Health</th>
        <th>Name</th>
        <th>Owner</th>
        <th>Description</th>
        <th>Target</th>
        <th>Current</th>
        <th>Last</th>
        <th>Deadline</th>
      </tr>
      @kpis.map { kpi =>
        <tr>
          <td>@kpi.header.id</td>
          <td><img src="@routes.Assets.at("images/blue.png")"></td>
          <td><a href="/kpi/@kpi.header.id">@kpi.header.name</a></td>
          <td>@kpi.header.owner</td>
          <td>@kpi.header.description</td>
          <td>@kpi.header.target</td>
          <td>@kpi.values(0).value</td>
          <td>@kpi.values(1).value</td>
          <td>@kpi.header.deadline</td>
        </tr>
      }
    </table>
  </div>
}
